@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(36, 37, 37);
}

header{
    position: fixed;
}

h1{
    color:white;
    place-self: center;
    text-align: justify;
    margin-top:38px;
    padding-top: 100px;
    font-size:50px;
    font-weight: 900;
    letter-spacing: 1.4px;
    text-shadow: 4px 4px 12px black;
}

h3{
    color:white;
    place-self: center;
    text-align: justify;
    margin-top: -1px;
    font-size:23.5px;
    font-weight: 550;
    letter-spacing: 0.8px;
    text-shadow: 3px 3px 4px black;
    margin-bottom: -10px;
}

p{
    color:white;
    place-self: center;
    margin-top:20px;
    margin-left:240px;
    margin-right:240px;
    font-size:20px;
    text-align:justify;
    text-shadow: 2px 2px 20px black;
    padding: 15px 10px;
}

hr{
    margin-top: -1.51px;
    margin-left: -10px;
    width: 100vw;
}

.menu{
    margin-top: -40px;
    align-items: center;
    place-items: center;
    justify-content: space-between;
    backdrop-filter: blur(8px);
    padding: 10px;
    margin-left: -10px;
    display: flex;
    width: 100vw;
    z-index: 5px;
}

.menu ul{
    list-style: none;
    display: flex;
    text-shadow: 3px 3px 25px black;
    column-gap: auto;
    align-content: center;
    justify-content: center;
    width: 92%;
}

.menu ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 18px;
    margin: 0 7.4vw;
    padding: 6px 24px 4px;
    transition: 0.2s;
    box-shadow: 1.4px 1.4px 6px 0.05px black;
}

.menu ul li a:hover{
    color:rgb(25, 32, 48);
    background-color:rgb(160, 160, 160);
    box-shadow: 1.4px 1.4px 6px 0.05px rgb(197, 197, 197);
    font-size: 23px;
    align-items: center;
}

#blog-content h1{
    padding-top: 150px;
}

#Blog{
    min-height: 900px;
}

#Projelerim{
    min-height: 900px;
}

#Hobilerim{
    min-height: 900px;
}

.block{
    border-style: solid; 
    border-radius: 20px;
    border-color:rgb(100, 100, 100);
    background-color: rgb(50, 50, 50);
    margin: 10px;
    width: 76%;
    place-self: center;
    margin-bottom: 38px;
}

.block p{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
}

#baslik{
    margin-bottom: -19px;
    margin-top: 5px;
}

@media(max-width: 1200px){
    .menu ul li a{
        margin: 0 5vw;
    }
}

@media (max-width: 800px){
    .menu ul li a{
        margin: 0 2vw;
    }
}