@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    background-color: rgb(152, 160, 170);
    
}

p{
    color: white;
    font-weight: 500.242;
    margin: 11px 460px;
    text-align: justify;
}

h1{
    color: white;
    place-self:center;
    font-size: 60px;
    margin-bottom: -8px;
    margin-top: 20px;
}

header{
    position: fixed;
    margin-top: -10px;
}

.menubar{
    width: 1930px;
    height: 75px;
    background-color: rgba(244, 198, 253, 0.514);
    backdrop-filter: blur(6.2px);
    margin-left: -10px;
    margin-top: -20px;
}

.menubar ul{
    display:flex;
}

.menubar ul li{
    list-style-type: none;
    padding: 28px 20px;
}

#menubar-right{
    margin-left: 1100px;
}

.menubar ul li a{
    color: rgb(255, 255, 255);
    padding: 16px;
    margin: 0 20px;
    text-decoration: none;
    transition: 167ms;
}

.menubar ul li a:hover{
    color:rgba(252, 226, 250, 0.705);
}

#Menu{
    min-height: 1080px;
    min-width: 100vw;
    place-self:center;
    background-color: rgb(32, 32, 32);
}